<div class="results-col results--good">
    <h3>Good guys</h3>
    <ul id="good-results">
        {% for name, toxicity in best.items %}
            <li>@{{ name }}</li>
        {% endfor %}
    </ul>
</div>
<div class="results-col results--bad">
    <h3>Bad guys</h3>
    <ul id="bad-results">
        {% for name, toxicity in worst.items %}
            <li>@{{ name }} <span class="unfollow-button btn btn-warning" data-screen_name="{{ name }}">Unfollow</span></li>
        {% endfor %}
    </ul>
</div>