<div class="results-col results--good">
    <h3>Good guys</h3>
    <ul id="good-results">
        <li>@JanKvasnicka</li>
        <li>@Rezac</li>
        <li>@dafidvor</li>
        <li>@lumirkajnar</li>
        {% for item in worst %}
            {{ item.name }} {{ item.toxicity }}
        {% endfor %}
    </ul>
</div>
<div class="results-col results--bad">
    <h3>Bad guys</h3>
    <ul id="bad-results">
        <li>@HairForceOne</li>
        <li>@HoVa86</li>
        <li>@Cojsemto</li>
        <li>@mac_attack_</li>
    </ul>
</div>