<div id="more-info" class="hidden">
    <div class="wrapper">
        <div class="text-wrapper">
            <h1>Cleaning up your <em>twitter mess</em></h1>
            <p class="perex">As we spend more time online, quality of that time matters a lot. What we hear, read and
                listen
                on the social networks influence our opinions.</p>
            <p>With assumption that none of us wants to surround herself with insults and aggressive opinions, this tool
                was created to help you analyze tweets of your friends and tries to measure toxicity of their
                language. That means that it takes tweets of users you follow and <a href="https://github.com/conversationai/perspectiveapi" target="_blank">Perspective API</a> determines toxicity of
                their
                content.</p>
            <p> Note that the data model is far form perfect and this project is just experiment. Created in 2019 by
                <a href="https://milansvehla.com">Milan Švehla</a></p>
            <a href="https://github.com/felixprojekt/twitter-toxicity" class="btn btn-github">Source code</a>
        </div>
    </div>
</div>
<div id="more-info-trigger-wrap">
    <span id="more-info-trigger">How it works?</span>
</div>