@import "mixins";
@import "variables";

.more-info-trigger-wrap {
  float: right;
  margin-top: 3.6rem;
}

#more-info-trigger {
  color: #ffffff61;
  cursor: pointer;
}

.btn-warning {
  border: 1px solid $secondary;
  background: $secondary;
  color: #002659;

  &:hover, &:focus, &:active {
    background: transparent;
    color: $secondary;
  }
}

.unfollow-button {
  padding: 10px 16px 8px 16px;
}